Repository DmitryZ75/momo-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, helm

frontend:
  stage: module-pipelines
  trigger:
    include:
    - local: /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - local: /backend/.gitlab-ci.yml
    strategy: depend

helm:
  stage: module-pipelines
  trigger:
    include:
    - local: /momo-store-chart/.gitlab-ci.yml
    strategy: depend

momo-store
  frontend/Dockerfile
  momo-store-chart/charts/frontend/templates/configmap.yaml
Due: frontend, helm

Revert "momo-store"
  frontend/Dockerfile
  momo-store-chart/charts/frontend/templates/configmap.yaml
Due: frontend, helm

c2
  frontend/.dockerignore
  momo-store-chart/charts/backend/templates/service.yaml
  momo-store-chart/charts/frontend/templates/service.yaml
Due: frontend, helm

Revert "c2"
  frontend/.dockerignore
  momo-store-chart/charts/backend/templates/service.yaml
  momo-store-chart/charts/frontend/templates/service.yaml
Due: frontend, helm

Update configmap.yaml
  momo-store-chart/charts/frontend/templates/configmap.yaml
Due: helm

c7
  frontend/.dockerignore
  momo-store-chart/charts/frontend/templates/configmap.yaml
Due: frontend, helm

try3
  frontend/nginx.conf
  momo-store-chart/charts/frontend/templates/configmap.yaml
Due: frontend, helm

Update Dockerfile
  frontend/Dockerfile
Due: frontend

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

check
  frontend/vue.config.js
  infrastructure/prometheus/values.yaml
Due: frontend

images fix
  backend/cmd/api/app/app_test.go
  backend/cmd/api/dependencies/store.go
  infrastructure/images/1.jpg
  infrastructure/images/10.jpg
  infrastructure/images/11.jpg
  infrastructure/images/12.jpg
  infrastructure/images/13.jpg
  infrastructure/images/14.jpg
  infrastructure/images/2.jpg
  infrastructure/images/3.jpg
  infrastructure/images/4.jpg
  infrastructure/images/5.jpg
  infrastructure/images/6.jpg
  infrastructure/images/7.jpg
  infrastructure/images/8.jpg
  infrastructure/images/9.jpg
  infrastructure/prometheus/templates/configmap.yaml
  infrastructure/prometheus/values.yaml
Due: backend

Update app_test.go
  backend/cmd/api/app/app_test.go
Due: backend

Update momo-store.yaml
  infrastructure/prometheus/rules/momo-store.yaml
Due: none

Update README.md
  README.md
Due: none

Update README.md
  infrastructure/README.md
Due: none

Description
  infrastructure/README.md
  infrastructure/momo-store-chart/charts/backend/templates/deployment.yaml
  infrastructure/momo-store-chart/charts/frontend/templates/deployment.yaml
Due: none

Update deployment.yaml
  infrastructure/momo-store-chart/charts/frontend/templates/deployment.yaml
Due: none

Update deployment.yaml
  infrastructure/momo-store-chart/charts/backend/templates/deployment.yaml
Due: none

fix
  infrastructure/.terraformrc
  infrastructure/prometheus/values.yaml
Due: none

Update values.yaml
  infrastructure/momo-store-chart/charts/backend/values.yaml
Due: none

Description
  README.md
  application/frontend/Dockerfile
  infrastructure/README.md
  infrastructure/cert-manager/clusterIssuer-deploy.yaml
  infrastructure/grafana/dashboards/Business Dashboard.json
  infrastructure/grafana/dashboards/Infrastucture Dashboard.json
  infrastructure/grafana/dashboards/Kubernetes___Compute_Resources___Pod.json
  infrastructure/grafana/dashboards/Logs dashboard.json
  infrastructure/grafana/dashboards/Loki stack monitoring (Promtail, Loki).json
  infrastructure/loki_install.sh
  infrastructure/main/main.tf
  infrastructure/main/terraform.tfvars
  infrastructure/prometheus/rules/momo-store.yaml
  infrastructure/prometheus/templates/clusterRole.yaml
  infrastructure/prometheus/templates/configmap.yaml
  infrastructure/prometheus/templates/deployment.yaml
  infrastructure/prometheus/values.yaml
  infrastructure/s3/terraform.tfvars
Due: none

Update .gitlab-ci.yml
  application/backend/.gitlab-ci.yml
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
  helm: any of: momo-store-chart/**/*
