Repository DmitryZ75/momo-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - local: /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - local: /backend/.gitlab-ci.yml
    strategy: depend

helm
  .gitignore
  .gitlab-ci.yml
  momo-store-chart/.gitlab-ci.yml
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/backend/Chart.yaml
  momo-store-chart/charts/backend/templates/deployment.yaml
  momo-store-chart/charts/backend/templates/namespace.yaml
  momo-store-chart/charts/backend/templates/secrets.yaml
  momo-store-chart/charts/backend/templates/service.yaml
  momo-store-chart/charts/backend/values.yaml
  momo-store-chart/charts/frontend/Chart.yaml
  momo-store-chart/charts/frontend/templates/configmap.yaml
  momo-store-chart/charts/frontend/templates/deployment.yaml
  momo-store-chart/charts/frontend/templates/ingress.yaml
  momo-store-chart/charts/frontend/templates/service.yaml
  momo-store-chart/charts/frontend/values.yaml
Due: none

Create values.yaml
  momo-store-chart/values.yaml
Due: none

Update secrets.yaml
  momo-store-chart/charts/backend/templates/secrets.yaml
Due: none

Terraform
  .gitignore
  infrastructure/images/baocziSKapustoi.jpg
  infrastructure/images/booziSTelatinoy.jpg
  infrastructure/images/borakiSGovadinoy.jpg
  infrastructure/images/chinkaliSGovadinoy.jpg
  infrastructure/images/czayocziSGovadinoy.jpg
  infrastructure/images/dim-samiSUtkoy.jpg
  infrastructure/images/gedzaSMyasom.jpg
  infrastructure/images/kundumiSGribami.jpg
  infrastructure/images/kurzeSKrabom.jpg
  infrastructure/images/mantiSBichkami.jpg
  infrastructure/images/momoSBaraninoy.jpg
  infrastructure/images/pelmeniSGovadinoy.jpg
  infrastructure/images/ravioliSRikotoi.jpg
  infrastructure/images/vontotiSKrevetkami.jpg
  infrastructure/main/main.tf
  infrastructure/main/terraform.tfvars
  infrastructure/s3/keys.sh
  infrastructure/s3/main.tf
  infrastructure/s3/terraform.tfvars
Due: none

Update values.yaml
  momo-store-chart/charts/backend/values.yaml
Due: none

Update values.yaml
  momo-store-chart/charts/frontend/values.yaml
Due: none

Create secrets.yaml
  momo-store-chart/charts/backend/templates/secrets.yaml
Due: none

Update ingress.yaml
  momo-store-chart/charts/frontend/templates/ingress.yaml
Due: none

Update Dockerfile
  frontend/Dockerfile
Due: frontend

front fix
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend

Update clusterIssuer-deploy.yaml
  infrastructure/cert-manager/clusterIssuer-deploy.yaml
Due: none

Update deployment.yaml
  momo-store-chart/charts/backend/templates/deployment.yaml
Due: none

updated
  .gitignore
  infrastructure/alertmanager/templates/ingress.yaml
  infrastructure/argo-cd/ingress-service-argo-cd.yaml
  infrastructure/argo-cd/ingress-service-argo-cd.yaml.save
  infrastructure/get_helm.sh
Due: none

Update nginx.conf
  frontend/nginx.conf
Due: frontend

check
  frontend/nginx.conf
  infrastructure/main/main.tf
Due: frontend

Frontend2
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/nginx.conf
Due: frontend, backend

infra update
  infrastructure/main/main.tf
  infrastructure/main/terraform.tfvars
  infrastructure/s3/main.tf
  infrastructure/s3/terraform.tfvars
Due: none

Infra2
  infrastructure/alertmanager/templates/configmap.yaml
  infrastructure/main/main.tf
  infrastructure/main/terraform.tfvars
  infrastructure/prometheus/rules/momo-store.yaml
  infrastructure/s3/main.tf
  infrastructure/s3/terraform.tfvars
Due: none

fix
  infrastructure/alertmanager/templates/configmap.yaml
  infrastructure/prometheus/templates/ingress.yaml
  infrastructure/prometheus/values.yaml
Due: none

try1
  frontend/Dockerfile
  frontend/nginx.conf
  momo-store-chart/charts/backend/values.yaml
  momo-store-chart/charts/frontend/templates/configmap.yaml
Due: frontend

try2
  frontend/Dockerfile
  frontend/nginx.conf
  momo-store-chart/charts/frontend/templates/configmap.yaml
Due: frontend

Update main.tf
  infrastructure/main/main.tf
Due: none

try
  backend/Dockerfile
  frontend/Dockerfile
  momo-store-chart/charts/frontend/templates/configmap.yaml
Due: frontend, backend

Delete keys.sh
  infrastructure/s3/keys.sh
Due: none

Update configmap.yaml
  momo-store-chart/charts/frontend/templates/configmap.yaml
Due: none

fix
  frontend/nginx.conf
  momo-store-chart/charts/backend/values.yaml
Due: frontend

try2
  frontend/Dockerfile
  frontend/nginx.conf
  momo-store-chart/charts/backend/values.yaml
  momo-store-chart/charts/frontend/templates/configmap.yaml
  momo-store-chart/values.yaml
Due: frontend

try
  momo-store-chart/charts/backend/templates/deployment.yaml
  momo-store-chart/charts/frontend/values.yaml
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
